block scripts
    //- Load Bootstrap JS Bundle
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- Load Global Template Scripts
    script(src='js/scripts.js')
    script(src='js/common.js')
    script. 
        window.addEventListener('load', (event) => {
            console.log("windowloaded")
            console.log(localStorage)
            if(localStorage.getItem('token') == null){
                window.location.pathname = "/login.html"                 
            }
            console.log("token found")
            sendRequest('/verifyLogin', {token: localStorage.getItem('token')}).then( ok =>{
                if (!ok) {
                    console.log("bad token")
                    localStorage.removeItem('token');
                    window.location.pathname = "/login.html"    
                }
            })
            
        });

