block scripts
    //- Load Bootstrap JS Bundle
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- Load Global Template Script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest' crossorigin='anonymous')
    script(src='js/scripts.js')
    script(src='js/common.js')
    script. 
        window.addEventListener('load', (event) => {
            if(localStorage.getItem('token') == null){
                window.location.pathname = "/login.html"                 
            }
            sendRequest('/verifyLogin', {token: localStorage.getItem('token')}).then( ok =>{
                if (!ok) {
                    localStorage.removeItem('token');
                    window.location.pathname = "/login.html"    
                }
            })
            
        });

