extends ../layouts/archives.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = false;
    - var sidenavStyle = 'sb-sidenav-dark'

block content
  style.
    .dataTables-empty { 
      display:none;
    }
    .greendot {
      height: 15px;
      width: 15px;
      background-color: #15c221;
      border-radius: 50%;
      display: inline-block;
    }
    .reddot {
      height: 15px;
      width: 15px;
      background-color: #db0f0f;
      border-radius: 50%;
      display: inline-block;
    }
  .row
    .col-xl-9
      .container-fluid.px-4
        h1.mt-4 Archives
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Alert Archives
    .container-fluid.px-4
      .row
        .col-xl-3.col-md-7
          .card.bg-success.text-white.mb-4
            .card-body Case Status: Active
        .col-xl-3.col-md-7
          .card.bg-danger.text-white.mb-4
            .card-body Case Status: Inactive
    .card.mb-4
      .card-header
        i.fas.fa-table.me-1
        |                                 Alert Archives
      .card-body
        table#datatablesSimple
          script. 
            getAlerts().then(data => {
              console.log(data)
              table = document.getElementById("alertsTable");

              data['alerts'].forEach(element => {
                console.log(element)
                  row = document.createElement("tr")
                    d1 = document.createElement("td")
                    d1.innerHTML = element[0]
                    d2 = document.createElement("td")
                    d2.innerHTML = element[1]
                    d3 = document.createElement("td")
                    d3.innerHTML = element[2]
                    d4 = document.createElement("td")
                    d4.innerHTML = element[3]
                    d5 = document.createElement("td")
                    d5.innerHTML = element[4]
                    d6 = document.createElement("td")
                    d6.innerHTML = element[5]
                    d7 = document.createElement("td")
                    d7.innerHTML = element[6]
                    d8 = document.createElement("td")
                    d8div = document.createElement("div")
                    d8div.style = 'text-align: center'
                    dot = document.createElement("span")
                    if (element[7] ==1){
                      dot.classList.add("greendot");
                    }else{
                      dot.classList.add("reddot");
                    }
                    d8div.appendChild(dot)
                    d8.appendChild(d8div)
                    row.appendChild(d1)
                    row.appendChild(d2)
                    row.appendChild(d3)
                    row.appendChild(d4)
                    row.appendChild(d5)
                    row.appendChild(d6)
                    row.appendChild(d7)
                    row.appendChild(d8)
                  table.appendChild(row)
              });
            })
          thead
            tr
              th Alert ID
              th Timestamp
              th Location
              th Make
              th Model
              th LIC
              th Description
              th Status
          tfoot
            tr
              th Alert ID
              th Timestamp
              th Location
              th Make
              th Model
              th LIC
              th Description
              th Status
          tbody#alertsTable
            
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
  script(src='js/scripts.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js' crossorigin='anonymous')
  script(src='assets/demo/chart-area-demo.js')
  script(src='assets/demo/chart-bar-demo.js')
  script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest' crossorigin='anonymous')
  script(src='js/datatables-simple-demo.js')
