doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  title Login - SB Admin
  link(href='css/styles.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js' crossorigin='anonymous')
style.
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
// Navbar
.w3-top
  .w3-bar.w3-blue.w3-card.w3-left-align.w3-large
    a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-blue(href='javascript:void(0);' onclick='myFunction()' title='Toggle Navigation Menu')
      i.fa.fa-bars
    a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='index.html') Home
    a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='register.html') Register
    //- a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='mission.html') Our Impact
#layoutAuthentication
  #layoutAuthentication_content
    main
    .w3-row-padding.w3-padding-64.w3-container
    .w3-row-padding.w3-padding-20.w3-container
      .container(margin-top='1000px')
        .row.justify-content-center
          .col-lg-5
            .card.shadow-lg.border-0.rounded-lg.mt-5
              .card-header
                h3.text-center.font-weight-light.my-4 Login
              .card-body
                form
                  .form-floating.mb-3
                    input#inputEmail.form-control(type='email' placeholder='name@example.com')
                    label(for='inputEmail') Email address
                  .form-floating.mb-3
                    input#inputPassword.form-control(type='password' placeholder='Password')
                    label(for='inputPassword') Password
                  .mt-4.mb-0
                    .d-grid
                      a.btn.btn-primary.btn-block(href='dashboard.html') Login
              .card-footer.text-center.py-3
                .small
                  a(href='register.html') Need an account? Sign up!
  .w3-container.w3-black.w3-center.w3-opacity.w3-padding-32
    .w3-content 
      .w3-third.w3-left 
        p.w3-large Visit
          a(href='https://amberalert.ojp.gov') AmberAlert.gov
        p.w3-large to learn more about the AMBER Alert program.
      .w3-third.w3-right 
        p.w3-large Visit
          a(href='https://www.missingkids.org/gethelpnow/amber') MissingKids.org 
        p.w3-large to view active AMBER Alerts and contact the 24-hour hotline.
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/scripts.js')
