nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard
            a.nav-link(href='archives.html')
                .sb-nav-link-icon
                    i.fas.fa-table
                | Archives
            a.nav-link(href='map.html')
                .sb-nav-link-icon
                    i.fas.fa-map
                | Map View
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | Start Bootstrap
