table#datatablesSimple
  thead
    tr
      th Alert ID
      th Timestamp
      th Location
      th Make
      th Model
      th LIC
      th Description
      th Status
  tfoot
    tr
      th Alert ID
      th Timestamp
      th Location
      th Make
      th Model
      th LIC
      th Description
      th Status
  tbody
    tr
      td A36748901
      td 22 OCT 2021, 14:15:09
      td San Francisco, CA
      td Toyota
      td Corolla
      td Black
      td 4SEY238
      td
        div(style='text-align:center')
          span.yellowdot
    tr
      td A36748900
      td 22 OCT 2021, 12:08:17
      td Cincinnati, Ohio
      td Honda
      td --
      td Dark
      td 8GED124
      td
        div(style='text-align:center')
          span.yellowdot
    tr
      td A36748899
      td 20 OCT 2021, 09:20:36
      td San Diego, CA
      td Toyota
      td Camry
      td Tan
      td --
      td
        div(style='text-align:center')
          span.greendot
    tr
      td A36748888
      td 29 SEPT 2021, 23:15:54
      td Memphis, TN
      td Kia
      td Soul
      td Green
      td 7TRN768
      td
        div(style='text-align:center')
          span.yellowdot
    tr
      td A36748887
      td 25 SEPT 2021, 14:09:43
      td Portland, Maine
      td Ford
      td Fiat
      td Red
      td --
      td
        div(style='text-align:center')
          span.reddot
